
<div class="ttm-page-title-row">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-box text-center">
          <div class="page-title-heading">
            <h1 class="title">FAQ's </h1>
          </div><!-- /.page-title-captions -->
          <div class="breadcrumb-wrapper">
            <span>
              <%= link_to root_path do %><i class="ti ti-home"></i>&nbsp;&nbsp;Home<% end %>
            </span>
            <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
            <span>FAQ's </span>
          </div>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>



<!-- FAQ'sus-section -->
<section class="ttm-row aboutsus-section clearfix">
  <div class="container">
    <div class="row"><!-- row -->

      <%= render "shared/faqs" %>

    </div>
    <!-- row end -->
  </div>
</section>
<!-- FAQ'sus-section end -->
