<!-- fid-section -->
<section class="ttm-row bottomzero-padding-section bg-img6 position-relative z-1 clearfix">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-10">
                <div class="ttm-bgcolor-skincolor ttm-bg ttm-col-bgcolor-yes ttm-left-span mb_80 res-991-mb-0">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                        <div class="ttm-bg-layer-inner"></div>
                    </div>
                    <div class="layer-content">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="spacing-5">
                                    <!-- section title -->
                                    <div class="section-title with-desc mb-40 clearfix">
                                        <div class="title-header">
                                            <h5>Who We Are</h5>
                                            <h2 class="title">Trusted by 5M+ <span>Happy Customers</span></h2>
                                        </div>
                                        <div class="title-desc">
                                          <% @headers.each do |h| %>
                                            <p><%= h.features_sub_title %>.</p>
                                          <% end %>
                                        </div>
                                    </div><!-- section title end -->

                                    <div class="row ttm-fid-row-wrapper">
                                        <div class="col-md-4 col-sm-4">
                                            <!--ttm-fid-->
                                            <div class="ttm-fid inside ttm-fid-view-lefticon style1">
                                                <div class="ttm-fid-left"><!--ttm-fid-left-->
                                                    <div class="ttm-fid-icon-wrapper">
                                                        <i class="flaticon flaticon-developer"></i>
                                                    </div>
                                                </div>
                                                <div class="ttm-fid-contents text-left"><!--ttm-fid-contents-->
                                                    <h4 class="ttm-fid-inner">
                                                        <span   data-appear-animation = "animateDigits"
                                                        data-from             = "0"
                                                        data-to               = "5235645"
                                                        data-interval         = "5"
                                                        data-before           = ""
                                                        data-before-style     = "sup"
                                                        data-after            = ""
                                                        data-after-style      = "sub"
                                                    >5M</span>
                                                    </h4>
                                                    <h3 class="ttm-fid-title">Happy Customers</h3><!--ttm-fid-title-->
                                                </div>
                                            </div><!-- ttm-fid end-->
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <!--ttm-fid-->
                                            <div class="ttm-fid inside ttm-fid-view-lefticon style1">
                                                <div class="ttm-fid-left">
                                                    <div class="ttm-fid-icon-wrapper">
                                                        <i class="flaticon flaticon-interaction"></i>
                                                    </div>
                                                </div>
                                                <div class="ttm-fid-contents text-left">
                                                    <h4 class="ttm-fid-inner">
                                                        <span   data-appear-animation = "animateDigits"
                                                        data-from             = "0"
                                                        data-to               = "642"
                                                        data-interval         = "5"
                                                        data-before           = ""
                                                        data-before-style     = "sup"
                                                        data-after            = ""
                                                        data-after-style      = "sub"
                                                    >642</span>
                                                    </h4>
                                                    <h3 class="ttm-fid-title">Projects Completed</h3>
                                                </div>
                                            </div><!-- ttm-fid end-->
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <!--ttm-fid-->
                                            <div class="ttm-fid inside ttm-fid-view-lefticon style1">
                                                <div class="ttm-fid-left">
                                                    <div class="ttm-fid-icon-wrapper">
                                                        <i class="flaticon flaticon-global-1"></i>
                                                    </div>
                                                </div>
                                                <div class="ttm-fid-contents text-left">
                                                    <h4 class="ttm-fid-inner">
                                                        <span   data-appear-animation = "animateDigits"
                                                        data-from             = "0"
                                                        data-to               = "578"
                                                        data-interval         = "5"
                                                        data-before           = ""
                                                        data-before-style     = "sup"
                                                        data-after            = ""
                                                        data-after-style      = "sub"
                                                    >578M</span>
                                                    </h4>
                                                    <h3 class="ttm-fid-title">Transactions</h3>
                                                </div>
                                            </div><!-- ttm-fid end-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fid-section -->
