<!-- Start Our Achievements Area -->
<section class="achievements-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="achievements-content">
                    <div class="title">
                        <span class="sub-title">Number</span>
                        <h2>Our Achievements</h2>
                   </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                            <div class="single-funfact">
                                <i class="flaticon-flag"></i>
                                <h3><span class="odometer" data-count="65">00</span></h3>
                                <p>Countries</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                            <div class="single-funfact">
                                <i class="flaticon-group"></i>
                                <h3><span class="odometer" data-count="4000">00</span> <span class="sign-icon">m</span></h3>
                                <p>Clients</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-12 col-sm-4">
                            <div class="single-funfact">
                                <i class="flaticon-medal"></i>
                                <h3><span class="odometer" data-count="40">00</span></h3>
                                <p>Clients Awards</p>
                            </div>
                        </div>

                    </div>

                    <div class="bg-dot"><img src="<%= asset_path "bg-dot.png"%>" alt="image"></div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="divider"></div>
                <div class="achievements-image-slides owl-carousel owl-theme">
                    <div class="single-achievements-image bg1">
                        <img src="<%= asset_path "achievements-img1.jpg"%>" alt="image">
                    </div>

                    <div class="single-achievements-image bg2">
                        <img src="<%= asset_path "achievements-img2.jpg"%>" alt="image">
                    </div>

                    <div class="single-achievements-image bg3">
                        <img src="<%= asset_path "achievements-img3.jpg"%>" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Achievements Area -->
