<section id="services" class="ttm-row services_2-section res-991-pt-0 clearfix active">
                <div class="container">
                    <div class="row"><!-- row -->
                        <div class="col-lg-7 col-md-7 col-sm-10 m-auto">
                            <!-- section title -->
                            <div class="section-title with-desc text-center clearfix">
                                <div class="title-header">
                                    <h5>Our Services</h5>
                                    <h2 class="title">We are here to IT Solution with 20 years of <span> experience</span></h2>
                                </div>
                            </div><!-- section title end -->
                        </div>
                    </div>
                    <!-- row end -->
                    <div class="services-slide owl-carousel owl-theme owl-loaded" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                        <!-- featured-imagebox-services -->

                        <!-- featured-imagebox-services end-->
                        <!-- featured-imagebox-services -->

                        <!-- featured-imagebox-services end-->
                        <!-- featured-imagebox-services -->

                        <!-- featured-imagebox-services end-->
                        <!-- featured-imagebox-services -->

                        <!-- featured-imagebox-services end-->
                        <!-- featured-imagebox-services -->

                        <!-- featured-imagebox-services end -->
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1170px, 0px, 0px); transition: all 3s ease 0s; width: 3510px;"><div class="owl-item cloned" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/04.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="data-structuring.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="data-structuring.html">
                                            <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-computer-1"></i>
                                            </span>Data Structuring
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="data-structuring.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail box-shadow"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/05.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="experience-design.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="experience-design.html">
                                            <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-server"></i>
                                            </span>Experience Design
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="experience-design.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div><div class="owl-item" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/01.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="it-consultancy.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5>
                                        <a href="it-consultancy.html">
                                            <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-call"></i>
                                            </span>IT Consultancy
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="it-consultancy.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div><div class="owl-item active" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/02.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="digital-services.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="digital-services.html">
                                        <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-global"></i>
                                            </span>Digital Services
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="digital-services.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div><div class="owl-item" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/03.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="advisory-services.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="advisory-services.html">
                                            <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-data"></i>
                                            </span>Advisory Services
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="advisory-services.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div><div class="owl-item" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/04.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="data-structuring.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="data-structuring.html">
                                            <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-computer-1"></i>
                                            </span>Data Structuring
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="data-structuring.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div><div class="owl-item" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail box-shadow"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/05.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="experience-design.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="experience-design.html">
                                            <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-server"></i>
                                            </span>Experience Design
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="experience-design.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/01.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="it-consultancy.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5>
                                        <a href="it-consultancy.html">
                                            <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-call"></i>
                                            </span>IT Consultancy
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="it-consultancy.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 390px; margin-right: 0px;"><div class="featured-imagebox featured-imagebox-services style2">
                            <div class="featured-thumbnail"><!-- featured-thumbnail -->
                                <img class="img-fluid" src="images/services/02.jpg" alt="image">
                                <div class="ttm-box-view-overlay"></div>
                                <div class="ttm-overlay-iconbox">
                                    <a href="digital-services.html"><i class="ti ti-plus"></i></a>
                                </div>
                            </div>
                            <div class="featured-content box-shadow">
                                <div class="featured-title"><!-- featured-title -->
                                    <h5><a href="digital-services.html">
                                        <span class="ttm-icon ttm-icon_element-fill ttm-icon_element-bgcolor-skincolor ttm-icon_element-size-md m-0">
                                                <i class="flaticon flaticon-global"></i>
                                            </span>Digital Services
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc"><!-- featured-title -->
                                    <p>Lorem ipsum dolor sit amet, consectetur adipis incididunt ut labore dolore magna believe the idea aliqua.</p>
                                </div>
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-color-dark btn-inline ttm-icon-btn-right mt-10" href="digital-services.html">Read More <i class="ti ti-angle-double-right"></i></a>
                            </div>
                        </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style="display: none;"></div></div></div>
                </div>
            </section>
