<!-- Top Bar Start -->
<div class="topbar">
  <!-- LOGO -->
  <div class="topbar-left">
      <%= link_to root_path, class: "logo" do %>
      <div class="row justify-content-center ">
    <div class=" ">Account</div>
  </div>

         <% end %>
       </div>


  <!--end logo-->
  <!-- Navbar -->
  <nav class="navbar-custom">
    <ul class="list-unstyled topbar-nav float-right mb-0">

      <li class="dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
        aria-expanded="false">
        <span class="ml-1 nav-user-name hidden-sm"><%= current_user.first_name %>
<i class="fas fa-chevron-down"></i>
        </span>
      </a>

        <div class="dropdown-menu dropdown-menu-right">
    <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
          <i class="dripicons-user text-muted mr-2"></i> Profile
          <% end %>
      <div class="dropdown-divider"></div>
          <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
          <i class="dripicons-exit text-muted mr-2"></i> Logout<% end %></div>
      </li>
    </ul>
    <!--end topbar-nav-->
    <ul class="list-unstyled topbar-nav mb-0">
      <li><button class="button-menu-mobile nav-link waves-effect waves-light"><i class="dripicons-menu nav-icon"></i></button></li>
      <li
      class="hide-phone app-search">
      <form role="search" class=""><input type="text" placeholder="Search..." class="form-control"> <a href="#"><i class="fas fa-search"></i></a></form>
    </li>
    <!-- <li>  <div id="google_translate_element"></div></li> -->

  </ul>
</nav>
<!-- end navbar-->
</div>
