  <!-- first-row-title-section -->
  <section class="ttm-row first-row-title-section ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes bg-img4 clearfix">
      <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
      <div class="container">
          <div class="row"><!-- row -->
              <div class="col-lg-8 offset-lg-2">
                  <div class="text-center">
                      <div class="ttm-play-icon-btn mb-35">
                          <div class="ttm-play-icon-animation">
                              <a href="https://youtu.be/7e90gBu4pas" target="_self" class="ttm_prettyphoto">
                                  <div class="ttm-icon ttm-icon_element-bgcolor-white ttm-icon_element-size-sm ttm-icon_element-style-round">
                                      <i class="fa fa-play"></i>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <!-- section-title -->
                      <div class="section-title row-title clearfix">
                          <div class="title-header">
                              <h2 class="title">We Provide Outsourced Funding For Small & <span>Mid-Sized Business</span></h2>
                          </div>
                          <div class="title-desc">Our Investment Programs Provide Business <br> Quick & Extensive Loans Based On What They Do</div>
                      </div><!-- section-title end -->
                      <div class="mt-40">
                          <a href="#" class="ttm-btn ttm-btn-size-md ttm-btn-style-border ttm-btn-color-white">View More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- first-row-title-section END-->
