<!--Page Title-->
<% @headers.take(1).each do |h| %>
<div class="ttm-page-title-row">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-box text-center">
          <div class="page-title-heading">
            <h1 class="title"><%= h.boards_title %> </h1>
          </div><!-- /.page-title-captions -->
          <div class="breadcrumb-wrapper">
            <span>
              <%= link_to root_path do %><i class="ti ti-home"></i>&nbsp;&nbsp;Home<% end %>
            </span>
            <span class="ttm-bread-sep">&nbsp; : : &nbsp;</span>
            <span><%= h.boards_sub_title %> </span>
          </div>
        </div>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>

<% end %>

<%= render "shared/board" %>
